/* Put your style information here! */

html {
  background-color: #AC3B61;
  padding-left: 10vw;
}

body {
  max-width: 80vw;
  padding: 2vw;
  align-items: center;
  align-content: center;
  background-color: #FDF5F1;
}

tr {
  vertical-align: top;
}

td {
  border-top: 1px solid black;
}

table tr td:first-child, table tr th:first-child {
  border-right: 1px solid black;
}

td, th {
  padding: 5px;
}